:root{
    --Bright-Red: hsl(12, 88%, 59%);
    --Bright-Red-Hover: hsl(12, 85%, 70%);
    --Dark-Blue: hsl(228, 39%, 23%);

    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%);

    --font-size-toobig: 48px;
    --font-size-big: 40px;
    --font-size-medium: 38px;
    --font-size-def: 16px;
    --font-size-class: 15px;
    --font-size-mid: 14px;
    --font-size-min: 13px;
    --font-size-little: 12px;

    --light-weight: 400;
    --normal-weight: 500;
    --strong-weight: 700;

    --normal-padding: 1rem;
    --padding-15rem: 1.5rem;
    --padding-2rem: 2rem;
    --padding-3rem: 3rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture
 {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
  font-family: 'Be Vietnam Pro', sans-serif;
  overflow-x: hidden;
}

/*Container and columns*/

.container{
  width: min(1100px , 100%);
  margin-inline: auto;
  padding: var(--padding-2rem);
}

.columns{
   display: grid;
}

/*Header classes*/

.heads{
  margin-top: 50px;
}

.container-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close{
  display: none;
}

.watch{
  display: block;
}

.hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.lista a {
  font-size: var(--font-size-min);
  color: var(--Very-Dark-Blue);
}

.lista a:hover{
  color: var(--Dark-Grayish-Blue);
}

/*Button classes*/

.btn{
  background-color: var(--Bright-Red);
  color: var(--Vary-Light-Gray);
  border: none;
  border-radius: 30px;
  padding-block: .6rem;
  padding-inline: var(--padding-15rem);
  font-size: var(--font-size-min);
  cursor: pointer;
}

.btn[data-type="inverted"]{
  color: var(--Bright-Red);
  background-color: var(--Vary-Light-Gray);
}

.btn:not([data-type="inverted"]):hover{
  background-color: var(--Bright-Red-Hover);
}

.btn[data-type="inverted"]:hover{
  background-color: var(--Vary-Light-Gray);
}

/*Main part classes*/

.pars{
  font-size: var(--font-size-class);
  color: var(--Dark-Grayish-Blue);
  line-height: 1.8;
}

.flows :not(:first-child){
  margin-block: 2rem 1rem;
}

/*Number list*/

.innerpar{
  font-size: var(--font-size-class);
  color: var(--Dark-Grayish-Blue);
  line-height: 1.6;
}

.innerparsdiv{
  padding-block: .8rem var(--padding-2rem);
  align-items: center;
}

.numbers{
  counter-reset: count;
  margin-inline: auto;
  width: fit-content;
}

.numbers li{
  counter-increment: count;
}

.numbers div::before{
  content: "0" counter(count);
  background-color: var(--Bright-Red);
  color: var(--Vary-Light-Gray);
  font-weight: bold;
  padding-block: .5rem;
  padding-inline: var(--padding-15rem);
  border-radius: 100vw;
}

.numbers div{
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: var(--padding-15rem);
}

/*Carousel*/

.carousel{
  text-align: -webkit-center;
}

.carousel{
  padding-block: var(--padding-3rem) 7rem;
}

footer{
  padding-block: var(--padding-3rem) var(--padding-15rem);
}

.carouselcontent{
  padding: var(--padding-2rem) .5rem;
  background-color: var(--Vary-Light-Gray);
}

.parscarousel{
  font-size: var(--font-size-mid);
  color: var(--Dark-Grayish-Blue);
  margin-inline: auto;
  line-height: 1.8;
}

.slider {
  display: flex;
  gap: 1rem;
}

.slider > * {
  flex: 0 0 auto;
  width: 500px;
}

.slider img{
  width: 5rem;
  padding-block: var(--padding-3rem) var(--padding-15rem);
}

.slider h3{
  padding-bottom: var(--padding-15rem);
}

.a11y-slider-container{
  padding-block: var(--padding-2rem);
}

/*CTA*/

.cta{
  position: relative;
  isolation: isolate;
}

.cta::before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url('images/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;
  opacity: 2;
  background-position: 10rem -6rem;
}

/*Footer*/

.foot{
  display: flex;
  background-color: var(--Bright-Red);
}

.footerhead{
  color: var(--Vary-Light-Gray);
  font-size: var(--font-size-big);
  font-weight: 600;
}

/**/

.center{
  align-items: center;
}

li a {
  text-decoration: none;
}

h1, h2, .footerhead{
  line-height: 1.2;
}

h1 {
  color: var(--Dark-Blue);
}

h2{
  font-size: var(--font-size-toobig);
  font-weight: bold;
  color: var(--Dark-Blue);
}

h3{
  color: var(--Dark-Blue);
  font-size: var(--font-size-class);
}

ul {
  list-style: none;
}

footer{
  background-color: var(--Very-Dark-Blue);
  color: var(--Vary-Light-Gray);
}

input{
  border-radius: 30px;
  padding-block: .35rem;
  padding-inline: 1.2rem;
}

form{
  margin-left: auto;
}

.copyright{
  font-size: var(--font-size-little);
  color: var(--Dark-Grayish-Blue);
  text-align: center;
}

.feet-nav li{
  padding-block: .4rem;
}

.feet-nav a{
  color: var(--Vary-Light-Gray);
  font-size: var(--font-size-min);
}

.feet-nav a:where(:hover, :focus){
  color: var(--Bright-Red);
}

.socials{
  display: flex;
  justify-items: center;
  gap: .3rem;
  width: 90%;
}

.icon{
  aspect-ratio: 1;
  max-width: 70%;
  fill: var(--Vary-Light-Gray);
}

.icon:where(:hover, :focus){
  fill: var(--Bright-Red);
}

/*Warpers*/

.columns-wrapper-form{
  display: grid;
  align-content: space-between;
}

.columns-wrapper-nav{
  columns: 2;
}

@media (min-width: 650px){
  section{
    padding-block: var(--padding-2rem);
  }

  h1 {
    font-size: var(--font-size-toobig);
  }

  .pars{
    max-width: min(650px, 68%);
  }

  .columns{
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .mobile-toggle{
    display: none;
  }

  .lista{
    display: flex;
    gap: 2rem;
  }

  .btn-flex{
    display: inline-flex;
  }

  .btndivs{
    margin-left: auto;
  }

  .socials li{
    min-width: 9.5%;
  }

  .numbers p{
    grid-column: 2/-1;
    padding-block: var(--normal-padding);
  }

  .copyright{
    margin-left: auto;
  }

  .tablet-imgs::after{
  content: '';
  position: absolute;
  bottom: -15%;
  left: -10%;
  width: 120%;
  aspect-ratio: 1;
  background-position: bottom right;
  z-index: -1;
  background-image: url('images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
}

.tablet-img-bottom::before{
  content: '';
  position: absolute;
  top: 110%;
  left: -40%;
  width: 100%;
  aspect-ratio: 1;
  z-index: -1;
  background-image: url('images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
}

.columns-wrapper {
  grid-template-areas: 
    'logo nav search'
    'social nav copyright'
  ;
}

.columns-wrapper-search {
  grid-area: search;
}

.columns-wrapper-copyright {
  grid-area: copyright;
}

}

@media (max-width: 650px){
  .flows{
    text-align: center;
  }

  h1{
    font-size: var(--font-size-medium);
  }

  h2{
    --font-size-custom : 30px;
    font-size: var(--font-size-custom);
  }

  .innerpar{
    text-align: left;
  }

  .mobile-toggle{
    display: block;
    background: transparent;
    border: 0;
    z-index: 1;
    cursor: pointer;
  }

  .middle{
    display: none;
    position: fixed;
    inset: 8rem 2rem auto;
    padding-block: var(--padding-2rem);
    background-color: var(--Vary-Light-Gray);
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 0 0.75rem rgba(134, 34, 34, 0.15);
  }

  .heads[data-overlay]::after{
    position: fixed;
    inset: 0;
    content: '';
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }

  .lista{
    display: grid;
    gap: 2rem;
    text-align: center;
    color: var(--Dark-Blue);
    font-weight: var(--strong-weight);
  }

  .btndivs{
    padding-block: var(--padding-2rem);
  }

  .btn-flex{
    display: none;
  }

  .cta{
    text-align: center;
    padding-block: 2.5rem;
  }

  .footerhead{
    font-size: var(--font-size-medium);
  }

  .columns-wrapper-nav{
    gap: min(15vw, 4rem);
  }

  footer{
    display: grid;
  }

  .socials li{
    min-width: 20%;
    margin-inline: auto;
  }

  .front-wrapper{
    display: grid;
    grid-template-areas: 
      "images"
      "front_text"
    ;
  }

  .front-wrapper-images{
    grid-area: images;
  }

  .front-wrapper-front_text{
    grid-area: front_text;
  }

  .columns-wrapper{
    display: grid;
    place-content: center;
    gap: 2.5rem;
    grid-template-areas:
      "logo"
      "search"
      "nav"
      "social"
      "copyright"
    ;
    place-items: center;
  }

  .columns-wrapper-nav{
    grid-area: search;
  }

  .columns-wrapper-logo{
    grid-area: social;
  }

  .columns-wrapper-search{
    grid-area: logo;
    text-align: center;
  }

  .columns-wrapper-social{
    grid-area: nav;
  }

  .columns-wrapper-copyright{
    grid-area: copyright;
  }

  .numbers p{
    grid-column: 1/-1;
    padding-block: var(--normal-padding);
  }

  .slider > * {
    width: 100%;
  }

  .cta::before{
    background-image: url('images/bg-simplify-section-mobile.svg');
    opacity: 1;
    background-position: 0rem;
  }

  .a11y-slider-dots{
    display: flex;
    justify-content: center;
    padding-bottom: var(--padding-3rem);
  }

  .a11y-slider-dots li button.active{
    background: var(--Bright-Red);
  }

  .a11y-slider-dots li {
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0 1px;
    color: blue;
  }

  .a11y-slider-dots li button {
    display: block;
    font-size: 0;
    text-indent: -9999px;
    border: var(--Bright-Red) 1px solid!important;
    width: 70%;
    height: 70%;
    border-radius: 100%;
  }

  .a11y-slider-container{
    padding: var(--padding-2rem);
  }
}